<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Abilities:</strong>
    <%= character.abilities %>
  </p>

  <p>
    <strong>User:</strong>
    <%= character.user_id %>
  </p>

</div>
