<%= form_with(model: character) do |form| %>
  <% if character.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h4>
      <ul>
        <% character.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Character Name", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter character name" %>
  </div>

  <div>
    <%= form.label :level, "Character Level", class: "form-label" %>
    <%= form.number_field :level, class: "form-control", placeholder: "Enter character level" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Description", class: "form-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Enter character description" %>
  </div>

  <div class="mb-3">
    <%= form.label :strength, "Strength", class: "form-label" %>
    <%= form.number_field :strength, class: "form-control", placeholder: "Enter strength score" %>
  </div>

  <div class="mb-3">
    <%= form.label :dexterity, "Dexterity", class: "form-label" %>
    <%= form.number_field :dexterity, class: "form-control", placeholder: "Enter dexterity score" %>
  </div>

  <div class="mb-3">
    <%= form.label :constitution, "Constitution", class: "form-label" %>
    <%= form.number_field :constitution, class: "form-control", placeholder: "Enter constitution score" %>
  </div>

  <div class="mb-3">
    <%= form.label :intelligence, "Intelligence", class: "form-label" %>
    <%= form.number_field :intelligence, class: "form-control", placeholder: "Enter intelligence score" %>
  </div>

  <div class="mb-3">
    <%= form.label :wisdom, "Wisdom", class: "form-label" %>
    <%= form.number_field :wisdom, class: "form-control", placeholder: "Enter wisdom score" %>
  </div>

  <div class="mb-3">
    <%= form.label :charisma, "Charisma", class: "form-label" %>
    <%= form.number_field :charisma, class: "form-control", placeholder: "Enter charisma score" %>
  </div>

  <div>
    <%= form.label :abilities, "Abilities", class: "form-label" %>
    <%= form.text_area :abilities, class: "form-control", placeholder: "Enter character abilities" %>
  </div>

  <!-- Add dropdown for Character Class -->
  <div class="mb-3">
    <%= form.label :character_class_id, "Character Class", class: "form-label" %>
    <%= form.select :character_class_id, 
          options_from_collection_for_select(@character_classes, :id, :name, character.character_class_id), 
          { prompt: "Select a class" }, 
          class: "form-select" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
