<p style="color: green"><%= notice %></p>

<h1>Your Characters</h1>

<% if @characters.present? && @characters.any? %>
  <div id="characters">
    <% @characters.each do |character| %>
      <!--  render character -->
      <p>
        <!-- Display character attributes here -->
        <strong>Name:</strong> <%= character.name %> <br>
        <strong>Class:</strong> <%= character.character_class %> <br>
        <strong>Level:</strong> <%= character.level %> <br>

        <!-- Link to show character details -->
        <%= link_to "Show this character", character_path(character) %>

        <!-- Optionally add Edit and Delete links -->
        <%= link_to "Edit", edit_character_path(character) %> |
        <%= link_to "Delete", character_path(character), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
<% else %>
  <p>No characters found. <%= link_to "Create a new character", new_character_path %></p>
<% end %>

<!-- Link to create a new character -->
<%= link_to "New character", new_character_path %>
